  <div class="row h-100">
    <div class="col-8">
      <img src="../../assets/buildings.png" class="imgWidth">
    </div>
    <div class="col-4 d-flex flex-column justify-content-center h-100">
      <div class="text-center">
        <img src="../../assets/projectLogo.png">
        <p class="heading fs-4 mb-0">DIGITAL IMPULSION</p>
        <p class="subHeading">Impulse - Leverage - Unlock</p>
        <p class="pt-5 childHeading">Smart Building Metaplatform</p>
      </div>
      
      <div class="d-grid login-container">
        <p class="text-sm-start loginText">LOGIN</p>
        <div class="text-center">

          <mat-form-field>
            <mat-label>User name</mat-label>
            <input matInput>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
          </mat-form-field>
          <div class="d-flex justify-content-around">
            <p><mat-slide-toggle>Remember Me</mat-slide-toggle></p>
            <p class="forgortPassword">Forgot Password?</p>
          </div>

          <button type="button" class="btn btn-primary loginBtnWidth mt-5">Login</button>

        </div>
      </div>
    </div>
  </div>
