<div class="bg-white">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <i class="material-icons">keyboard_arrow_left</i>
            <img src="assets/passport.JPG" class="imgSize">
            <span class="fs-12 pl-5">Praveen</span>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="mr-10 d-flex justify-end w-100">
                <i class="material-icons pl-5">phone</i>
                <i class="material-icons pl-5">videocam</i>
                <i class="material-icons pl-5">menu</i>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="chatlistPart">
    <app-chatlist></app-chatlist>
</div>

<app-dashboard-footer></app-dashboard-footer>
